.ant-breadcrumb {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color:#112A46;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 500;
  list-style: none;
  font-family: Roboto, sans-serif;
}